@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  background-color: #F5F7FA;
}



#sidebar {
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
}
#sidebarBackdrop {
  display: none;
}
#sidebar-toggle:checked + #sidebar {
  transform: translateX(0);
}
#sidebar-toggle:checked + #sidebar + #sidebarBackdrop {
  display: block;
}